.buttons-area {
    height: auto;
}

.button-style {
    margin: 5px;
}

#gifs-go-here {
    width: 100%;
}

.innerRows {
    height: 450px;
}

.header {
    background: url(../images/bg.jpg);
}

h1, h2 {
    font-family: 'Monoton', cursive;
    color: #fff !important;
}

span {
    color: red;
}